* {
  margin: 0;
  padding: 0;
}

body {
  margin: 20px auto;
  font-weight: 300;
  background-color: gray;
}

form {
  padding: 15px 25px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

#loginform p,
form label {
  font-size: 1.5rem;
  font-weight: 700;
}

a {
  color: #00f;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#loginform,
#wrapper {
  display: inline-block;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  padding-bottom: 25px;
  background: #eee;
  width: 600px;
  max-width: 100%;
  border: 2px solid #212121;
  border-radius: 4px;
}

#loginform {
  padding-top: 18px;
  text-align: center;
}

#loginform p {
  padding: 15px 25px;
  font-size: 1.4rem;
}

#chatbox {
  text-align: left;
  margin: 0 auto 25px;
  padding: 10px;
  background: #fff;
  height: 300px;
  width: auto;
  border: 1px solid #a7a7a7;
  overflow: auto;
  border-radius: 4px;
  border-bottom: 4px solid #a7a7a7;
}

#name,
#usermsg {
  border-radius: 4px;
  border: 1px solid #ff9800;
}

#usermsg {
  flex: 1;
}

#name {
  padding: 2px 8px;
}

#enter,
#submitmsg,
a#exit {
  border-radius: 4px;
  font-weight: 700;
}

#enter,
#submitmsg {
  background: #ff9800;
  border: 2px solid #e65100;
  color: #fff;
  padding: 4px 10px;
}

.error {
  color: red;
}

#menu {
  padding: 15px 25px;
  display: flex;
}

#menu p.welcome {
  flex: 1;
}

a#exit {
  background: #c62828;
  padding: 4px 8px;
}

.msgln {
  margin: 0 0 5px;
}

.msgln span.join-info,
.msgln span.left-info,
a#exit {
  color: #fff;
}

.msgln span.chat-time {
  color: gold;
  vertical-align: super;
}

.msgln b.user-name-join,
.msgln b.user-name-left {
  font-weight: 700;
  color: #fff;
  padding: 2px 4px;
  font-size: 90%;
  border-radius: 4px;
  margin: 0 5px 0 0;
}

.msgln b.user-name-left {
  background: red;
}

.msgln b.user-name-join {
  background: #1eff00;
}
